* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header aside"
    "main   aside"
    "footer aside";
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 25vh 55vh 20vh;
  background-color: #e5e5e5;
  font-family: "Oswald", sans-serif;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
}

#logo-nike {
  width: 130px;
  height: 50px;
  margin: 90px 0px 0px 100px;
}

.change {
  display: flex;
  margin: 60px 65px 0px 0px;
}

.change span {
  margin-right: 60px;
  font-weight: 700;
  font-size: 3.5rem;
}

.change__arrows {
  margin-top: 15px;
  font-size: 2rem;
  background-color: #000;
  height: 60px;
}

.change__arrows i {
  color: #fff;
  padding: 15px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "nav h1 p"
    "nav button .";
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 300px;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

nav ul li {
  border: 3px solid #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

h1 {
  grid-area: h1;
  font-size: 2.8rem;
  margin-left: 160px;
  margin-top: 40px;
}

main div::before {
  content: url(../img/hr-h1.png);
}

main p {
  grid-area: p;
  font-size: 1.8rem;
  margin-right: 40px;
  margin-top: 40px;
}

button {
  margin-top: 100px;
  grid-area: button;
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  padding-left: 4px;
  font-size: 1.25rem;
}

aside {
  grid-area: aside;
  background-color: #4ae6d3;
}

aside img {
  position: absolute;
  width: 1000px;
  height: 600px;
  right: 0px;
  top: 200px;
}

footer {
  grid-area: footer;
}

footer p {
  margin-left: 120px;
  font-size: 1.5rem;
  font-weight: bold;
}
